<h1>Listing kartus</h1>

<table>
  <thead>
    <tr>
      <th>Nomor</th>
      <th>Saldo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kartus.each do |kartu| %>
      <tr>
        <td><%= kartu.nomor %></td>
        <td><%= kartu.saldo %></td>
        <td><%= link_to 'Show', kartu %></td>
        <td><%= link_to 'Edit', edit_kartu_path(kartu) %></td>
        <td><%= link_to 'Destroy', kartu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kartu', new_kartu_path %>
